<form autocomplete="off" onsubmit="event.preventDefault();">
  <table class="mttedialog listPacks">
  <tr>
    <th>{{localize "mtte.publisher"}}</th>
    <th>{{localize "mtte.pack"}}</th>
    <th>{{localize "mtte.type"}}</th>
  </tr>
  <tr>
    <td><a href="http://www.alessandroroussel.com/" target="_blank">Alessandro Roussel (SonarEffects)</a></td>
    <td><a href="https://www.mediafire.com/folder/z4zcbamkvsbzb/Sound_Effects" target="_blank">Sounds Effects</a></td>
    <td>{{localize "mtte.typeFree"}}</td>
  </tr>
  <tr>
    <td><a href="http://www.alessandroroussel.com/" target="_blank">Alessandro Roussel (SonarEffects)</a></td>
    <td><a href="https://www.mediafire.com/file/iwje5socqxq1n97/PACK_Action_2017_-_SonarEffects.zip/file" target="_blank">PACK Action 2017</a></td>
    <td>{{localize "mtte.typeFree"}}</td>
  </tr>
  <tr>
    <td><a href="https://tabletopaudio.com/" target="_blank">Tabletop Audio</a></td>
    <td><a href="https://tabletopaudio.com/" target="_blank">Ambience music</a></td>
    <td><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a></td>
  </tr>
  <tr>
    <td><a href="https://sound-effects.bbcrewind.co.uk" target="_blank">BBC Sound Effects</a></td>
    <td><a href="https://sound-effects.bbcrewind.co.uk" target="_blank">All Sound Effects</a></td>
    <td>{{localize "mtte.typeFree"}} (non-commercial)</td>
  </tr>
  
  
  
  </table>

  <p><em>
    Want to report a dead link or want to add another reference on that page? Join me on <a href="https://discord.gg/xg3dcMQfP2" target="_blank">Moulinette Discord</a>
  </em></p>

  
</form>
