<form autocomplete="off" onsubmit="event.preventDefault();">
  <h3>{{name}}</h3>
  <p>  
    <i>{{localize "mtte.favoriteDescr"}}</i>
  </p>
  <p>  
    {{#if multiple}}
      <h2>{{localize "mtte.favoriteMultiple"}} <a class="sound-control" data-action="sound-play" title="{{localize "PLAYLIST.SoundPlay"}} / {{localize "PLAYLIST.SoundStop"}}"><i class="fas fa-play"></i></a></h2>
      {{#each data.path as |p i|}}
      <audio id="previewSound{{i}}" src="{{p}}"></audio>
      {{/each}}
    {{/if}}
    {{#unless multiple}}
      <h2>{{data.name}} <a class="sound-control" data-action="sound-play" title="{{localize "PLAYLIST.SoundPlay"}} / {{localize "PLAYLIST.SoundStop"}}"><i class="fas fa-headphones"></i></a></h2>
      <audio id="previewSound" src="{{data.path}}"></audio>
    {{/unless}}
  <p>  
    <h3>{{localize "mtte.slot"}} {{#if data.slot}}#{{data.slot}}{{/if}}</h3>
    {{#each slots as |row|}}
    <footer>
    <div class="slots">
      {{#each row as |s|}}
        <button class="slot" data-idx="{{s.num}}">
          {{#if s.name}}{{s.name}}{{/if}}
          {{#if s.faIcon}}<i class="fas fa-{{s.faIcon}}"></i>{{/if}}
          {{#if s.icon}}<img class="icon" src="{{s.icon}}"/>{{/if}}
        </button>
      {{/each}}
    </div>
    </footer>
    {{/each}}
  </p>
  <p>
    
  </p>
  <div class="form-group">
    <label>{{localize "PLAYLIST.SoundVolume" }}</label>
    <div class="form-fields">              
      <input class="sound-volume" type="range" title="{{localize "PLAYLIST.SoundVolume" }}" value="{{volume}}" min="0" max="1" step="0.05">
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "mtte.shortText"}}</label>
    <div class="form-fields">              
      <input class="shortText" type="text" name="shortText" placeholder="ex: door" value="{{data.label}}">
    </div>
  </div>
  <p>  
    <i>{{localize "mtte.favoriteIconDescr"}}</i>
  </p>
  <div class="form-group">
    <label>{{localize "mtte.faIcon"}} <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome</a></label>
    <div class="form-fields">
      <input type="hidden" id="IconSourceIdEdit" name="icon" />
      <input class="icon" type="text" id="IconInputEdit" placeHolder="{{localize "mtte.iconPlaceHolder"}}" value="{{data.icon}}"/>
      <button type="button" id="GetIconPickerEdit" data-iconpicker-input="input#IconInputEdit" data-iconpicker-preview="i#PreviewIconEdit" class="search"><i class="fas fa-search" id="PreviewIconEdit"></i></button>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "mtte.localIcon"}}</label>
    <div class="form-fields">
      <input class="icon2" type="text" name="icon2" placeholder="ex: moulinette/images/gameicons/swordman.svg" value="{{data.icon2}}">
      <button type="submit" class="browse"><i class="fas fa-folder-open" title="{{localize "mtte.browse"}}"></i> </button>
    </div>
  </div>
  <footer>
    <div class="actions">
      <button class="cancel"> {{localize "Cancel"}}</button>
      <button class="delete"><i class="fas fa-trash"></i> {{localize "Delete"}}</button>
      <button class="save" title="{{localize "mtte.saveFavoriteToolTip"}}"><i class="fas fa-save"></i> {{localize "mtte.saveFavorite"}}</button>
    </div>
  </footer>
</form>
